* {
    padding: 0;
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

body {
    font-size: 9mm;
    font-size: 3vh;
    height: 297mm;
    width: 210mm;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ddd;
}

.container {
    height: 100%;
    width: 100%;
    height: 95vh;
    width: 50vw;
    display: grid;
    grid-template-columns: 5% 90% 5%;
    grid-template-rows: 25% 12% 8% 20% 30% 5%;

    background: #fff;
    position: relative;
}

@media screen and (max-width: 768px) {
    body {
        font-size: 2.7vh;
        width: 100vw;
        height: 100vh;
        background: #fff;
    }

    .container {
        width: 100vw;
    }    
}

.secondRow , .thirdRow , .fourthRow, .fifthRow, .sixthRow {
    grid-column: 2 / 3;

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: justify;
    font-size: 0.5em;

    padding: 1em 0 1em 0;
}

.thirdRow::before , .fourthRow::before, .fifthRow::before {
    background: #fff;
    position: absolute;
    top: -0.75em;
    left: 2em;

    font-size: 1.1em;
    font-weight: bolder;
    padding: 0 1.5em 0 3.5em;
}

header {
    grid-row: 1 / 2;
    grid-column: -1 / 1;

    display: grid;
    grid-template-columns: 30% 30% 40%;
    grid-template-rows: auto;

    border-bottom: 1px solid #000;
}

.profilePhoto , .name , .informations {
    display: flex;
    justify-content: center;
    align-items: center;
}

.profilePhoto {
    grid-column: 1 / 2;
}

.prof {    
    height: 5em;
    border-radius: 100%;
}

.name {
    grid-column: 2 / 3;
}

.name h1 {
    margin: 0 0 0 0.4em;
    font-size: 1.3em;
}

.informations {
    grid-column: 3 / 4;
}

.informations p {
    font-size: 0.5em;
    margin: 0.4em 0 0.4em 0;
}

.secondRow {
    grid-row: 2 / 3;

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: justify;
    font-size: 0.5em;
}


.thirdRow {
    grid-row: 3 / 4;

    position: relative;
    border-top: 1px solid #000;
    
    justify-content: inherit;
}

.thirdRow::before {
    content: 'Cel zawodowy';    
}

.ic {
    height: 1em;
    width: 1em;
    position: absolute;
    top: -1.05em;
    left: 2.2em;
    font-size: 1.3em;

    border: 1px solid #000;
    padding: 0.4em;
    border-radius: 100%;
}

.fourthRow {
    grid-row: 4 / 5;
    position: relative;
    border-top: 1px solid #000;

    display: grid;
    grid-template-columns: 20% 10% 70%;
    grid-template-rows: 100%;
}

.fourthRow::before {
    content: 'Wykształcenie';
}

.fourthRow .dates, .fourthRow .describtions, .fourthRow aside {
    height: 90%;
}

.fourthRow .dates {
    grid-column: 1 / 2;
    position: relative;
}

.fourthRow aside {    
    grid-column: 2 / 3;
    display: flex;
    justify-content: center;
}

.fourthRow .describtions {
    grid-column: 3 / 4;
    position: relative;
    font-size: 0.9em;
}

.schoolDate {
    position: absolute;
    font-size: 0.9em;
}

.schoolDate:nth-child(1) {
    top: 1em;
}

.schoolDate:nth-child(2) {
    top: 6em;
}

.verticalLine {
    width: 0.1em;
    background: #000;
    position: relative;
}

.circleBackground {
    width: 1.4em;
    height: 1.4em;
    background: #fff;
    position: absolute;
    border-radius: 100%;
    left: -0.65em;
}

.circle {
    width: 60%;
    height: 60%;
    background: #000;
    border-radius: 100%;
    position: absolute;
    left: 19%;
    top: 19%;
}

.circleBackground:nth-child(1) {
    top: 0.8em;
}

.circleBackground:nth-child(2) {
    top: 5.2em;
}

.schoolDescription {
    position: absolute;
}

.schoolDescription:nth-child(1) {
    top: 1em;
}

.schoolDescription:nth-child(2) {
    top: 6em;
}

.fifthRow {
    grid-row: 5 / 6;
    position: relative;
    border-top: 1px solid #000;

    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;

    font-size: 0.47em;
}

.fifthRow::before {
    content: "Umiejętności";
}

.professionalSkills {
    grid-column: 1 / 2;
    height: 90%;
}

.personalSkills {
    grid-column: 2 / 3;
    height: 85%;
}

.personalSkills .skillLevel{
    margin-right: 20%;
}

h4 {
    font-size: 1.05em;
    margin-bottom: 0.3em;
}

.fifthRow ul {
    list-style-type: none;
}

.fifthRow ul li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0.5em 0 0.5em 0;
}

.skillLevel {
    float: right;
    position: relative;
    margin-right: 30%;
    background: #aaa;
    width: 6em;
    height: 0.5em;
}

.skillLevel::before {
    content: "";
    background: #000;    
    position: absolute;
    left: 0;
    height: 0.5em;
    width: 50%;
}

/* HTML */
#profSkillsUl li:nth-child(1) .skillLevel::before {
    width: 90%;
}
/* CSS */
#profSkillsUl li:nth-child(2) .skillLevel::before {
    width: 80%;
}
/* GitHub */
#profSkillsUl li:nth-child(3) .skillLevel::before {
    width: 65%;
}
/* JavaScript  */
#profSkillsUl li:nth-child(4) .skillLevel::before {
    width: 45%;
}
/* C++ */
#profSkillsUl li:nth-child(5) .skillLevel::before {
    width: 40%;
}
/* SQL */
#profSkillsUl li:nth-child(6) .skillLevel::before {
    width: 40%;
}
/* PHP */
#profSkillsUl li:nth-child(7) .skillLevel::before {
    width: 30%;
} 
/* C# */
#profSkillsUl li:nth-child(8) .skillLevel::before {
    width: 20%;
}
/* Java */
#profSkillsUl li:nth-child(9) .skillLevel::before {
    width: 20%;
}




/* Chęć rozwoju */
#personalSkillsUl li:nth-child(1) .skillLevel::before {
    width: 100%;
}
/* Zaangażowanie */
#personalSkillsUl li:nth-child(2) .skillLevel::before {
    width: 90%;
}
/* Zarządzanie czasem */
#personalSkillsUl li:nth-child(3) .skillLevel::before {
    width: 85%;
}
/* Współpraca */
#personalSkillsUl li:nth-child(4) .skillLevel::before {
    width: 80%;
}
/* Logiczne myślenie */
#personalSkillsUl li:nth-child(5) .skillLevel::before {
    width: 80%;
}
/* Komunikatywność */
#personalSkillsUl li:nth-child(6) .skillLevel::before {
    width: 70%;
}

.sixthRow {
    grid-row: 6 / 7;
    font-size: 0.25em;
}