#content {
    display: flex;
    justify-content: center;
    align-items: center;
}

#slider {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.sliderUp, .sliderDown {
    width: 100%;
    height: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sliderDown {
    height: 5%;
    align-items: flex-start;
}

.sliderUp {
    position: relative;
}

#img_containter {
    width: 95%;
    height: 95%;    
    position: relative;
    display: flex;
    justify-content: center;
}

.a_img {
    width: 100%;
    height: 100%;
    position: absolute; 
    cursor: default; 
    opacity: 0;
    z-index: 0;  
}

.a_img:nth-child(1) {
    opacity: 1;
    z-index: 1;
}

.page_img {
    width: 100%;
    height: 100%;
    background-size: contain;
}

#left_button , #right_button {
    width: 5%;
    height: 15%;
    position: absolute;
    left: 5%;  
    border: 0;
    background: rgba(69, 69, 69, 0.1);
    cursor: pointer;
    font-size: 1em;
    z-index: 100;
    transition-duration: 0.2s;  
}

#left_button:hover , #right_button:hover {
    background: rgba(69, 69, 69, 0.3);
}

#right_button {
    left: 90%;
}

#choice_belt {
    min-width: 7%;
    max-width: auto;    
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.circle {
    width: 0.8em;
    height: 0.8em;
    background: #696969;
    opacity: 0.5;
    border-radius: 50%;
}

.circle:nth-child(1) {
    opacity: 1;
}

@media screen and (max-width: 768px) {
    #content {
        margin-bottom: 0;
    }

    .sliderDown, #left_button, #right_button {
        display: none;
    }

    .slider {
        width: 100%;
        border: 0;
    }

    #img_containter {
        width: 100%;
        height: auto;
        border: 0;
        display: block;
    }

    .page_img {
        position: initial;
        width: 100%;
        height: 13em;
        border: 1px solid #000;
        margin: 0 0 0.5em 0;
        opacity: 1;
    }

    .a_img {
        position: initial;
        width: 100%;
        height: 0%;
        opacity: 1;
    }

    @media screen and (orientation: landscape) {
        .page_img {
            height: 24em;
        }

        @media screen and (max-height: 370px) {
            .page_img {
                height: 20em;
            }
        }
    }
}