#content {
    font-size: 1.2em;
}

p {
    margin: 0;
}

.pageDescribe {
    margin: 1.5em 0 1em 0;
    text-align: justify;
}

.learnedList {
    margin: 0 0 1em 0;
}

.learnedList li {
    margin: 0 0 0 1em;
}

.pageLink {
    text-decoration: none;
    color: #000;
    border-bottom: 1px solid #000;
}

@media screen and (max-width: 768px) {
    .pageDescribe {
        margin: 0 0 1em 0;
    }
}